/* Design System - Webflow 中文社区 */

/* 颜色主题变量 */
[data-theme='light-mode'] {
  --colors--background--bg-success: var(--colors--success--50);
  --colors--background--bg-warning: var(--colors--warning--50);
  --colors--background--bg-error: var(--colors--error--50);
  --colors--background--bg-brand-primary: var(--colors--brand--25);
  --colors--background--bg-tertiary: var(--colors--gray-light-mode--200);
  --colors--background--bg-secondary_hover: var(--colors--gray-light-mode--100);
  --colors--background--bg-secondary: var(--colors--gray-dark-mode--50);
  --colors--background--bg-primary_hover: var(--colors--gray-light-mode--50);
  --colors--background--bg-primary: var(--colors--gray-light-mode--25);
  --colors--foreground--fg-success: var(--colors--success--600);
  --colors--foreground--fg-warning: var(--colors--warning--600);
  --colors--foreground--fg-error: var(--colors--error--600);
  --colors--foreground--fg-brand-secondary: var(--colors--brand--500);
  --colors--foreground--fg-brand-primary: var(--colors--brand--400);
  --colors--foreground--fg-disabled: var(--colors--gray-light-mode--400);
  --colors--foreground--fg-white: var(--colors--base--white);
  --colors--foreground--fg-secondary_hover: var(--colors--gray-light-mode--800);
  --colors--foreground--fg-secondary: var(--colors--gray-light-mode--700);
  --colors--foreground--fg-primary: var(--colors--gray-light-mode--900);
  --colors--border--border-error: var(--colors--base--error);
  --colors--border--border-brand: var(--colors--brand--400);
  --colors--border--border-disabled: var(--colors--gray-light-mode--300);
  --colors--border--border-tertiary: var(--colors--gray-light-mode--100);
  --colors--border--border-secondary: var(--colors--gray-light-mode--200);
  --colors--border--border-primary: var(--colors--gray-light-mode--300);
  --colors--text--text-success: var(--colors--base--success);
  --colors--text--text-warning: var(--colors--base--warning);
  --colors--text--text-error: var(--colors--base--error);
  --colors--text--text-brand-secondary: var(--colors--brand--600);
  --colors--text--text-brand-primary: var(--colors--brand--800);
  --colors--text--text-placeholder: var(--colors--gray-light-mode--500);
  --colors--text--text-white: var(--colors--base--white);
  --colors--text--text-tertiary_hover: var(--colors--gray-light-mode--700);
  --colors--text--text-tertiary: var(--colors--gray-light-mode--800);
  --colors--text--text-secondary_hover: var(--colors--gray-light-mode--800);
  --colors--text--text-secondary: var(--colors--gray-light-mode--700);
  --colors--text--text-primary_on-brand: var(--colors--base--white);
  --colors--text--text-primary: var(--colors--gray-light-mode--900);
  --component-colors--buttons--tertiary--button-tertiary-border: var(--colors--gray-light-mode--100);
  --component-colors--buttons--tertiary--button-tertiary-bg_hover: var(--colors--gray-light-mode--50);
  --component-colors--buttons--tertiary--button-tertiary-bg: var(--colors--gray-light-mode--100);
  --component-colors--buttons--tertiary--button-tertiary-fg_hover: var(--colors--gray-light-mode--700);
  --component-colors--buttons--tertiary--button-tertiary-fg: var(--colors--gray-light-mode--600);
  --component-colors--buttons--secondary--button-secondary-border_hover: var(--colors--gray-light-mode--700);
  --component-colors--buttons--secondary--button-secondary-border: var(--colors--gray-light-mode--700);
  --component-colors--buttons--secondary--button-secondary-bg_hover: var(--colors--gray-light-mode--800);
  --component-colors--buttons--secondary--button-secondary-bg: var(--colors--gray-light-mode--950);
  --component-colors--buttons--secondary--button-secondary-fg_hover: var(--colors--gray-light-mode--100);
  --component-colors--buttons--secondary--button-secondary-fg: var(--colors--gray-light-mode--50);
  --component-colors--buttons--primary--button-primary-border_hover: var(--colors--brand--600);
  --component-colors--buttons--primary--button-primary-border: var(--colors--brand--400);
  --component-colors--buttons--primary--button-primary-bg_hover: var(--colors--brand--600);
  --component-colors--buttons--primary--button-primary-bg: var(--colors--brand--400);
  --component-colors--buttons--primary--button-primary-fg_hover: var(--colors--base--white);
  --component-colors--buttons--primary--button-primary-fg: var(--colors--base--white);
  --alpha-white-10: var(--colors--alpha-light-mode--alpha-white-10);
}

[data-theme='dark-mode'] {
  --colors--background--bg-success: var(--colors--success--500);
  --colors--background--bg-warning: var(--colors--warning--500);
  --colors--background--bg-error: var(--colors--error--500);
  --colors--background--bg-brand-primary: var(--colors--brand--500);
  --colors--background--bg-tertiary: var(--colors--gray-dark-mode--800);
  --colors--background--bg-secondary_hover: var(--colors--gray-dark-mode--700);
  --colors--background--bg-secondary: var(--colors--gray-dark-mode--900);
  --colors--background--bg-primary_hover: var(--colors--gray-dark-mode--800);
  --colors--background--bg-primary: var(--colors--gray-dark-mode--950);
  --colors--foreground--fg-success: var(--colors--success--500);
  --colors--foreground--fg-warning: var(--colors--warning--500);
  --colors--foreground--fg-error: var(--colors--error--500);
  --colors--foreground--fg-brand-secondary: var(--colors--brand--500);
  --colors--foreground--fg-brand-primary: var(--colors--brand--400);
  --colors--foreground--fg-disabled: var(--colors--gray-dark-mode--500);
  --colors--foreground--fg-white: var(--colors--base--white);
  --colors--foreground--fg-secondary_hover: var(--colors--gray-dark-mode--200);
  --colors--foreground--fg-secondary: var(--colors--gray-dark-mode--300);
  --colors--foreground--fg-primary: var(--colors--base--white);
  --colors--border--border-error: var(--colors--base--error);
  --colors--border--border-brand: var(--colors--brand--400);
  --colors--border--border-disabled: var(--colors--gray-dark-mode--700);
  --colors--border--border-tertiary: var(--colors--gray-dark-mode--800);
  --colors--border--border-secondary: var(--colors--gray-dark-mode--800);
  --colors--border--border-primary: var(--colors--gray-dark-mode--700);
  --colors--text--text-success: var(--colors--success--400);
  --colors--text--text-warning: var(--colors--warning--400);
  --colors--text--text-error: var(--colors--error--400);
  --colors--text--text-brand-secondary: var(--colors--gray-dark-mode--300);
  --colors--text--text-brand-primary: var(--colors--gray-dark-mode--50);
  --colors--text--text-placeholder: var(--colors--gray-dark-mode--500);
  --colors--text--text-white: var(--colors--base--white);
  --colors--text--text-tertiary_hover: var(--colors--gray-dark-mode--300);
  --colors--text--text-tertiary: var(--colors--gray-dark-mode--100);
  --colors--text--text-secondary_hover: var(--colors--gray-dark-mode--200);
  --colors--text--text-secondary: var(--colors--gray-dark-mode--300);
  --colors--text--text-primary_on-brand: var(--colors--gray-dark-mode--50);
  --colors--text--text-primary: var(--colors--gray-dark-mode--50);
  --component-colors--buttons--tertiary--button-tertiary-border: var(--colors--gray-dark-mode--700);
  --component-colors--buttons--tertiary--button-tertiary-bg_hover: var(--colors--gray-dark-mode--800);
  --component-colors--buttons--tertiary--button-tertiary-bg: var(--colors--gray-dark-mode--800);
  --component-colors--buttons--tertiary--button-tertiary-fg_hover: var(--colors--gray-dark-mode--200);
  --component-colors--buttons--tertiary--button-tertiary-fg: var(--colors--gray-dark-mode--300);
  --component-colors--buttons--secondary--button-secondary-border_hover: var(--colors--gray-dark-mode--200);
  --component-colors--buttons--secondary--button-secondary-border: var(--colors--gray-dark-mode--200);
  --component-colors--buttons--secondary--button-secondary-bg_hover: var(--colors--gray-dark-mode--100);
  --component-colors--buttons--secondary--button-secondary-bg: var(--colors--gray-light-mode--50);
  --component-colors--buttons--secondary--button-secondary-fg_hover: var(--colors--gray-dark-mode--900);
  --component-colors--buttons--secondary--button-secondary-fg: var(--colors--gray-dark-mode--950);
  --component-colors--buttons--primary--button-primary-border_hover: var(--colors--brand--600);
  --component-colors--buttons--primary--button-primary-border: var(--colors--brand--400);
  --component-colors--buttons--primary--button-primary-bg_hover: var(--colors--brand--600);
  --component-colors--buttons--primary--button-primary-bg: var(--colors--brand--800);
  --component-colors--buttons--primary--button-primary-fg_hover: var(--colors--base--white);
  --component-colors--buttons--primary--button-primary-fg: var(--colors--base--white);
  --component-colors--alpha--alpha-white-10: var(--component-colors--alpha--alpha-black-10);
  --alpha-white-10: var(--colors--alpha-dark-mode--alpha-black-10);
}

/* 全局样式 */

/* Make text look crisper and more legible in all browsers */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
   outline: 0.125rem solid #4d65ff;
   outline-offset: 0.125rem;
}

/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
  margin-top: 0 !important;
}

/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
	margin-bottom: 0 !important;
}

/* Prevent all click and hover interaction with an element */
.pointer-events-off {
	pointer-events: none;
}

/* Enables all click and hover interaction with an element */
.pointer-events-on {
  pointer-events: auto;
}

/* Create a class of .div-square which maintains a 1:1 dimension of a div */
.div-square::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

/* Make sure containers never lose their center alignment */
.container-medium,.container-small, .container-large {
	margin-right: auto !important;
  margin-left: auto !important;
}

/* 
Make the following elements inherit typography styles from the parent and not have hardcoded values. 
Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
Uncomment this CSS to use it in the project. Leave this message for future hand-off.
*/
/* 设置tag标签的初始可见度为80% */
a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

/* Apply "..." after 3 lines of text */
.text-style-3lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* Apply "..." after 2 lines of text */
.text-style-2lines {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

/* Adds inline flex display */
.display-inlineflex {
  display: inline-flex;
}

/* These classes are never overwritten */
.hide {
  display: none !important;
}

@media screen and (max-width: 991px) {
    .hide, .hide-tablet {
        display: none !important;
    }
}
  @media screen and (max-width: 767px) {
    .hide-mobile-landscape{
      display: none !important;
    }
}
  @media screen and (max-width: 479px) {
    .hide-mobile{
      display: none !important;
    }
}
 
.margin-0 {
  margin: 0rem !important;
}
  
.padding-0 {
  padding: 0rem !important;
}

.spacing-clean {
padding: 0rem !important;
margin: 0rem !important;
}

.margin-top {
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-top {
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}
  
.margin-right {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  margin-left: 0rem !important;
}

.padding-right {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  padding-left: 0rem !important;
}

.margin-bottom {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}

.padding-bottom {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

.margin-left {
  margin-top: 0rem !important;
  margin-right: 0rem !important;
  margin-bottom: 0rem !important;
}
  
.padding-left {
  padding-top: 0rem !important;
  padding-right: 0rem !important;
  padding-bottom: 0rem !important;
}
  
.margin-horizontal {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.padding-horizontal {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}

.margin-vertical {
  margin-right: 0rem !important;
  margin-left: 0rem !important;
}
  
.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

/* 主题切换样式 */
  [for=theme] svg {
      width: 75%;
  }

	.theme-switch + .theme-svg svg path:first-of-type,
  .theme-switch:checked + .theme-svg svg path:last-of-type {
    opacity: 0;
  }
  .theme-switch:checked + .theme-svg svg path:first-of-type {
    opacity: 1;
  }

/* 边栏样式 */
  /* 选择对应的 Radio 时，改变它的字体颜色 */
  .sidebar_control-label:has(input:checked) {color: var(--colors--text--text-primary);}
  /* 开关边栏Checkbox时，切换sidebar的宽度并隐藏其内容的文字 */
  .sidebar:has(#sidebar-toggle:checked) { width: 4rem; }
  .sidebar:has(#sidebar-toggle:checked) .sidebar_text { display: none; }
  
  /*隐藏滚动条*/
  .sidebar {
  scrollbar-width: none; /*FireFox*/
  -ms-overflow-style: -ms-autohiding-scrollbar; /*IE10+*/
  }
  .sidebar::-webkit-scrollbar {
    display: none; /*Chrome, Safari, Edge*/
    }
